*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 100%);
}
.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.navbar h1{
    color: green;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type:none ;
    padding: 5px;
}
.nav-links li a{
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    width: 8%;
    transition: box-shadow 1.5s;
}
.nav-links li a:hover{
    box-shadow: 3px 3px 4px hsl(0, 0%, 30%);
}
.log-buttons button{
    color: black;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hwb(180 60% 0%) ;
    box-shadow: 2px 2px  3px hsl(0, 0%, 30%);
}
.about{
    background: linear-gradient(45deg,aqua,teal);
    font-family: sans-serif ;
    color: black;
    padding: 4px;
    text-align: justify;
}
.about h2{
    text-align: center;
    color: white;
}
.service{
    box-shadow: 3px 3px 4px hsl(0, 0%, 30%), -3px -3px 4px hsl(0, 0%, 30%);
    margin: 10px;
}
.service h2{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;    
}
.hostels{
    /* width: 180px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    padding: 8px;
}
.img img{
    width: 300px;
    height: 250px;
}
.info{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
}

